/*ESTRUCTURA BODY*/
.contenedor_global {
    display: grid;
    grid-template-columns: 1fr; /* Solo necesitamos una columna */
    grid-template-rows: auto; /* Deja que las filas se ajusten automáticamente según el contenido */
    grid-template-areas:
        "header"
        "contenedor_slider"
        "contenedor_ofertas"
        "banner"
        "pagos"
        "footer";
    grid-gap: 20px; /* Espacio entre las secciones */
}

.header { grid-area: header; }
.contenedor_slider { grid-area: contenedor_slider; }
.contenedor_ofertas { grid-area: contenedor_ofertas; }
.banner { grid-area: banner; }
.pagos { grid-area: pagos; }
.footer { grid-area: footer; }


/* SLIDER */

.contenedor_slider {
    /* Elimina display: grid y place-content: center; */
    max-width: 1250px;
    margin: 20px auto; /* Esto centra el contenedor y proporciona un espacio superior de 20px */
    /* ... (resto de tu estilo) */
}
.slider{
  width: 100%;
  max-width: 1200px;
  height: auto;
  overflow: hidden; /* No esta funcionando porque no puedo definir tamaños porque las imagenes se ponene encima delmenu del texto y el footer */
  border-radius: 20px;
}

.slider ul {
    display: flex;
    padding: 0px;
    width: 400%;
    animation: slide 15s infinite cubic-bezier(0.55, 0.48, 0.37, 0.92);
    }

.slider li img {
  width: 100%; 
  height: auto; 
  object-fit: cover; /* Con esto ajusto la imagen manteniendo su  aspecto y cubriendo el contenedor */
}

@keyframes slide {
    0%{margin-left:0;}
    20%{margin-left:0;}

    25%{margin-left:-100%;}
    45%{margin-left:-100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left:-300%;}
    100%{margin-left:-300%;}
}





.contenedor_ofertas {
    /* Elimina display: grid y place-content: center; */
    max-width: 1250px;
    margin: 20px auto; /* Esto centra el contenedor y proporciona un espacio superior de 20px */
    /* ... (resto de tu estilo) */
}


.ofertas{
  width: 100%;
  border-radius: 20px;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  

}


.ofertas img {
   width:100%;
   border-radius: 8px;
}

.ofertas_vencimiento{  
    text-align: center;
    padding-top: 20px;
}

@media (max-width:1100px){
    h2{
        padding: 8px 40px;
        text-align: center;
    }

    .ofertas{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
         justify-content: center;
        align-items: center; 
        margin-bottom: 50px;
        gap: 30px;
     }

       .ofertas div{ 
         display: grid;
         justify-items: center;

         align-items: center; 

     }

    .ofertas_vencimiento{
        padding: 8px 40px;
        text-align: center;
    }
    .ofertas img {
        width:50%;
    }
   

}
