 
   .cliente1{
       display:flex;
       width:90vw;
       height:37vh;
       background-color:blue;
   }
   .cliente2{
       display:flex;
       width:90vw;
       height:37vh;
       background-color:aqua;
   }
   .contenedorFotoYNombre{
       width:250px;
       height:28vh;
       
   }
   .foto{
       width: 150px;
       height:150px;
       background-color: white;
   }
   .nombre{
       width:auto;
       height:12vh;
       background-color:chartreuse;
   }

.tarjeta {
    float: left;
    border: 1px solid #555;
    border-radius: 10px;
    margin:4px; padding: 2px;
    width:250px;
    height:240px;
    overflow: hidden;
    text-align: center;
}

/*.contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;}*/

/*hasta aca todas cosas agregadas  para la seccion clietnes */
.contenedor_global {
    display: grid;
    justify-items:center;
    
   
    
    grid-template: 0.5fr 0.5 2fr 1fr 1fr / auto auto auto; /*6 filas / 3 columnas */
    grid-template-areas: "header header header" 
                         "contacto contacto contacto"
                         "form form form"
                         "clientes clientes clientes"
                         "mapa mapa mapa" 
                         "footer footer footer";


    gap: 1px;
   
}

.header    {    grid-area: header;width:100vw;}
.contenedor_contacto   { grid-area: contacto; padding-top: 20px;padding-bottom: 30px;width:100vw;}
.contenedor_formulario   { grid-area: form;width:90vw;padding-bottom: 6vh;}  
.contenedor_clientes  { grid-area: clientes;
    display:grid;
    justify-items:center;
    align-items: center;
    width:100vw;
    height:80vh;
    background-color: brown;}  
.mapa {grid-area: mapa; width:100vw;}
.footer    { grid-area: footer; width:100vw;}
/* CONTACTO */
.contenedor_clientes img {
    width:100%;
    object-fit: cover;
    height:100%

}

.formulario {
    display: grid;
    padding: 5vh;
    width:100%; 
    row-gap: 5vh;
    
    
    justify-content:space-evenly;
    
   /* background-color: bisque;*/
    grid-template: 0.3fr 0.3fr 0.3fr 1fr 0.3fr/ auto auto auto ;
    grid-template-areas: "nombre dni correo"
                         "telefono tarjeta tarjeta1"
                         "asunto asunto asunto"
                         "textA textA textA"
                         "botoni botonc botond";
                         
                         
                         background-color: #fff;
                         border: 2px solid #DE7D39;
                         
                         border-radius: 15px;
   
                
}


.nombreFormulario  {    grid-area: nombre;}
.dniFormulario  {    grid-area: dni; }
.correoFormulario  {    grid-area: correo; }
.telefonoFormulario  {    grid-area: telefono;}
.tarjetaFormulario  {    grid-area: tarjeta;}
.tarjeta1Formulario  {    grid-area: tarjeta1;}
.asuntoFormulario {    grid-area: asunto;  display:grid ; align-content:normal; justify-items:left;}

.textAFormulario  {    grid-area: textA; }
label {
    text-align: left;
    margin-bottom: 10px;
}

select {width:45vw;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;}

.campoFormW1 { 
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;}

textarea {width: 80vw;
    height:30vh ;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;}

.botoniFormulario {grid-area:botoni;}
.botoncFormulario {grid-area:botonc; text-align: center;}
.botondFormulario {grid-area:botond;}
#botonSubmit {
    background-color: #DE7D39;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 4px;
    cursor: pointer;
    border-radius: 10px;
}
   /* width: 30px;background-color: #304E9D; color:white;*/

.info_contacto{
    text-align: center; 
}

.fa-phone-square{
    font-size: 22px;
}

.map-responsive{
    overflow: hidden;
    width:100%;
    padding-bottom: 30%;
    position: relative;
    height: 0;  
}   
.map-responsive iframe {
    left:0;
    top: 0;
    height: 100%;
    width:100%;
    /*width: 100%;*/
    position: absolute;
}

/* CONTACTO_RESPONSIVE */


@media (max-width:800px){

    
    .info_contacto{ text-align: center;}
    
    .campoFormW1 { width: 40vw;}
    .asuntoFormulario select {width:45vw;}
   
    
    

   
      
    .formulario{
        grid-template: 0.3fr 0.3fr 0.3fr 0.3fr 0.8fr 0.3fr 0.3fr 0.3fr/ auto auto ;
        grid-template-areas: 
        "nombre dni" 
        "correo  telefono"
        "tarjeta tarjeta1" 
        "asunto asunto"
        "textA textA"
        "botoni botoni"
        "botonc botonc"
        "botond botond";
        

    }
    
}




@media (max-width:400px){
   
    .info_contacto{ text-align: center;}
    
    .campoFormW1 { width: 80vw;}
    .asuntoFormulario select {width:80vw;}
    .formulario{
        grid-template: 0.3fr 0.3fr 0.3fr 0.3fr 0.8fr 0.3fr 0.3fr 2fr 0.3fr 0.3fr 0.3fr/ auto ;
        grid-template-areas: 
        "nombre"
         "dni" 
        "correo"
        "telefono"
        "tarjeta"
        "tarjeta1" 
        "asunto"
        "textA "
        "botoni"
        "botonc"
        "botond";
        

    }
}