



.xcontenedor_global {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / auto auto auto; /*6 filas / 3 columnas */
    grid-template-areas: "header header header" 
                         "slider slider slider"
                         "oferta oferta oferta"
                         "form form form"
                         "formb formb formb" 
                         "footer footer footer";


    gap: 1px;
}

.header    { grid-area: header;}
.contenedor_slider    { grid-area: slider; }
.contenedor_ofertas   { grid-area: ofertas;}
.banner    { grid-area: banner;    background-color: bisque;}
.pagos     { grid-area: pagos;    background-color: bisque;}
.footer    { grid-area: footer;}
/* CONTACTO */

.info_contacto{
        text-align: center; 
}

.fa-phone-square{
    font-size: 22px;
}

/* CONTACTO_RESPONSIVE */

@media (max-width:768px){
    .info_contacto{
        text-align: center; 
}
   
}

.map-responsive{
    overflow: hidden;
    padding-bottom: 30%;
    position: relative;
    height: 0;

}

.map-responsive iframe {
    left:0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
