
.contenedor_global {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto; 
    grid-template-areas: "header" 
                        "contenedor_descuentos"
                         "pagos"
                         "footer";

    grid-gap: 20px; 
}

.header    { grid-area: header;width:100vw;}
.contenedor_descuentos { grid-area: contenedor_descuentos;width:100vw;}
.pagos { grid-area: pagos;width:100vw; }
.footer    { grid-area: footer;width:100vw;}

.pagos img {width:45vw;};

/* DESCUENTOS */

.contenedor_descuentos {
    /* Elimina display: grid y place-content: center; */
    max-width: 1200px;
    margin: 20px auto; /* Esto centra el contenedor y proporciona un espacio superior de 20px */
    /* ... (resto de tu estilo) */
}


.descuentos{
  
  width: 80%;
  margin: auto;
  border-radius: 20px;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  


}


.descuentos img {
   width:100%;
   border-radius: 8px;
}


@media (max-width:1100px){
    .pagos img {width:90vw;}
   

    .descuentos{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center; 
        margin-bottom: 50px;
        gap: 30px;
     }

        .descuentos div{ 
         display: grid;
         justify-items: center;
         align-items: center; 

     }

    .descuentos img {
        width:50%;
    }
   

}



/* PAGOS */

.contenedor_pagos {
    text-align: center; 
}

.pagos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
    justify-content: center; 
}

.pagos_imagenes_derecha {
    display: flex;
    justify-content: right; 

}

.pagos_imagenes_izquierda {
    display: flex;
    justify-content: left; 

}


@media (max-width: 1060px) {
    .pagos img {width:90vw;}
    .pagos {
        grid-template-columns: 1fr; 
    }

.pagos_imagenes_izquierda {
    display: flex;
    justify-content: center; 
    }

    .pagos_imagenes_derecha {
        display: flex;
        justify-content:center; 
    }

}